.body-style{
  background-color:skyblue;
}

.table-style{
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  border: 2px solid blue;
  margin: 5% 0 0 33%;
  background-color: lightblue;
}

.table-text{
  padding: 10px;
}

td{
  padding: 10px;
}

.text-title{
  margin: 20px;
  font-size: 70px;
  border: 2px solid blue;
  border-radius: 10px;
  text-align: center;
  background: -webkit-linear-gradient(bottom,white,blue);
  background: -moz-linear-gradient(bottom,white,blue);
  background: -ms-linear-gradient(bottom,white,blue);
  background: -o-linear-gradient(bottom,white,blue);
  box-shadow: black 10px 10px 10px;


}
